.card-img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.mySwiper {
    width: 100%;
    height: 500px;
}
.mySwiper .swiper-slide {
    width: 350px !important;
    height: 350px !important;
}

/* Tablet screens */
@media (max-width: 992px) {
    .card-img {
        width: 90%;
        height: 90%;
    }
}

/* Mobile screens */
@media (max-width: 576px) {
    .card-img {
        width: 75%;
        height: 75%;
    }
}